
{% extends 'authapp/base.html' %}

{% load static %}
{% block content %}
    <img src="{{ user.avatar.path }}" class="w-25">
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype=multipart/form-data>
        {% csrf_token %}
        {{ edit_form.as_p }}
      <button type="submit" class="btn btn-primary">сохранить</button>
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'main' %}" class="btn btn-primary">
            на главную
        </a>
    </button>
{% endblock %}