<div class="header clearfix">
    <a href="/" class="logo"></a>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="menu">
        <li class="{% if url_name == 'main' %}active{% endif %}"><a href="{% url 'main' %}">домой</a></li>
        <li class="{% if url_name == 'products:main' %}active{% endif %}"><a href="{% url 'products:main' %}">продукты</a></li>
        <li class="{% if url_name == 'contacts' %}active{% endif %}"><a href="{% url 'contacts' %}">контакты</a></li>
    </ul>
    {% endwith %}
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>