{% load djangoshop_extras %}
{% load static %}

<div class="slider">
    {% include 'djangoshop/includes/headmenu.html' %}
    <div class="text-slider">
{#        добавлено динамическое изменение имени месяца с помощью templatetags#}
        <h3 class="green">тенденции {% monthname %} {% now "Y" %}</h3>
        <h3 class="big"> удобные стулья</h3>
        <p>Новый уровень комфорта. Отличные характеристики.</p>
        <a href="#" class="button-order">заказать <img src="{% static 'djangoshop/img/arrow.png' %}" alt=""></a>
    </div>
    <div class="navi">
        <a href="#"></a><a href="#"></a><a href="#"></a>
    </div>
</div>
